@import "reset.css";
/* css 4. google font 사용을 위해 import */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
/* tip. 아래로 라인 복붙
drag+shift+option+down */
/* css 2. import */
@import "status-bar.css";
/* header css 1. css 파일을 기능별로 만드는 이유
나누어 두면 오류 수정할 때 편하다. 길게 스크롤 할 필요가 없어진다. */
@import "header.css";
@import "nav-bar.css";
@import "friends.css";

/* nav css. 이걸 하지 않으면 nav가 넘쳐서 4번째 아이콘이 보이지 않음 */
* {
  box-sizing: border-box;
}

/* css 1. body */
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  /* css 4. google font 사용 */
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* position:fixed가 잘 작동되는지 확인 */
  height: 1000px;
}

a {
  /* color:inherit 
    부모요소의 폰트색을 따름*/
  color: inherit;
}
